@keyframes Flash {
    0% {
      transform: none;
      opacity: 1;
      text-shadow: red 5px 5px 10px;
      
    }
    50% {
      transform: skew(-4deg, 0.4deg);
      opacity: 0.75;
      text-shadow: blue 5px 5px 10px;
      color: dimgrey;
      
    }
    100% {
      transform: none;
      opacity: 1;
      text-shadow: green 5px 5px 10px;
      
    }
  }

  @keyframes FlashBox {
    0% {
      transform: none;
      opacity: 1;
      box-shadow: red 5px 5px 10px;
      border-radius: 20%;
    }
    50% {
      opacity: 0.75;
      box-shadow: blue 5px 5px 10px;
      color: dimgrey;
      border-radius: 70%;
      opacity: 30%;
    }
    100% {
      transform: none;
      opacity: 1;
      box-shadow: green 5px 5px 10px;
      border-radius: 20%;
    }
  }

  #Home{
    background-image: url("https://images.unsplash.com/photo-1642285230633-cf8012546f14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;  
    padding-bottom: 40em;
  }

  #AboutMe {
    color: #000000;
    text-align: center;
    font-size: larger;
    
  }
  
  body {
    margin: 0;
    padding: 0;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(2, 196, 255, 0);
    font-size: 30px;
    padding-inline-start: 30px;
    padding-top: 20px;
}

#audio {
  animation: FlashBox 3.6s infinite;
}


li a {
    display:contents;
    color: #fdfdfd;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
    float: left;
    font-family: 'Russo One', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a:hover {
    color: #000000;
    text-shadow: #ffffff 5px 5px 15px;
    font-size: 2em;
}

li:not(:last-child) {
    margin-bottom: 26px;
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Russo One', sans-serif;
}

#name {
    color: #000000;
    font-size:  100px;
    text-shadow: rgb(255, 255, 255) 5px 5px 7px;
}



#intro {
    color: rgb(255, 255, 255);
    text-shadow: #000000 5px 5px 15px;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
}

/**/


h1 {
    text-align: center;
    font-size: 80px;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 0;
    line-height: 0;
    animation: Flash 3.6s infinite;
  }
  
  .AboutMe {
    margin-top: 15em;
    color: #ffffff;
  }