/****KeyFrames****/

@keyframes Flash {
    0% {
      transform: none;
      opacity: 1;
      text-shadow: #232d9a 5px 5px 10px;
      transform: scale3d(.70, .70, .70);
      color: white;
    }
    50% {
      text-shadow:rgb(255, 255, 255) -2px -2px 15px;
      transform: scale3d(.95, .95, .95);
      color: #232d9a;
    }
    100% {
      transform: none;
      opacity: 1;
      text-shadow: #232d9a 5px 5px 10px;
      transform: scale3d(.70, .70, .70);
      color: white;
    }
  }

  @keyframes FlashBox {
    0% {
      transform: none;
      opacity: 1;
      text-shadow: green 5px 5px 10px;
      border-radius: 20%;
    }
    50% {
    }
    100% {
      transform: none;
      opacity: 1;
      text-shadow: red 5px 5px 10px;
      border-radius: 20%;
    }
  }

  @keyframes HideButton {
    25% {
      border-top: white;
      box-shadow: white 0px -2px 2px;
      border-width: 5px;
    }
    50% {
      border-right: white;
      box-shadow: white 2px 0px 2px;
      border-width: 5px;

    }
    75% {
      border-bottom: white;
      box-shadow: white 0px 2px 2px;
      border-width: 5px;
    }
    100% {
      border-left: white;
      box-shadow: white -2px 0px 2px;
      border-width: 5px;
    }
  }

  /****End of KeyFrames****/

  /****General****/

  html, body, .home .AboutMe .TechSkills {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    color: #fff;
    overflow: hidden; 
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/****Navbar****/

#navbar {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-size: 30px;
    display: flex; justify-content: center;
    position: fixed;
}

#navbar button {
  background-color: transparent;
  margin-right: 3%;
  border-style: hidden;
  text-shadow: #ffffff 5px 5px 20px;
}

#navbar a {
    display:contents;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    padding-top: 1%;
    padding-bottom: 10px;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

#navbar a:hover {
    color: #000000;
    text-shadow: #ffffff 0px 0px 15px;
    font-size: 40px;
}

#logo {
  border-width: 10px;
  width: auto;
  height: 8%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  display: none;
}

/****End of Navbar****/

/****Home Page****/

#Home{
    background-image: url("https://images.unsplash.com/photo-1642285230633-cf8012546f14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;  
    height: 100%;
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Russo One', sans-serif;
    padding-top: 15%;
}

#name {
    color: #000000;
    font-size:  100px;
    text-shadow: rgb(255, 255, 255) 5px 5px 7px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#intro {
    color: rgb(255, 255, 255);
    text-shadow: #000000 5px 5px 15px;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
}

.Download {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  animation: HideButton .6s infinite;
  height: 80px;
}

.Download:hover {
  background-color: #232d9a; 
  color: white;
  
}

.Download:active {
  background-color: #000000;
  box-shadow: 0 4px #666;
  color:#ffffff;
  transform: translateY(4px);
}

audio {
  display:none;
}

h1 {
  text-align: center;
  font-size: 80px;
  letter-spacing: 6px;
  font-weight: 300;
  margin: 0;
  line-height: 0;
  animation: Flash 4s infinite;
}
/****End of Home****/

/****About****/  

#AboutMe {
    color: #000000;
    padding-top: 5%;
    text-align: center;
    font-size: larger;
}

.AboutMe {
  background-color: rgb(79, 79, 79);
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  font-weight: 400;
}

#AboutMe {  
  font-weight: 900;
  background-color: rgb(79, 79, 79);
  text-shadow: #ffffff 1px 1px 4px;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  background-color: rgb(79, 79, 79);
  color: #ffffff;
  padding-bottom: 5%;
}

#icons {
height: 0px;
color: #ffffff;
}

.traits {
  color: #232d9a;
  font-size: larger;
  text-shadow: #ffffff 3px 3px 12px;
}


/****End of About****/

/****Technologies****/

#TechSkills {
background-color: rgb(189, 189, 189);
width: auto;
}

#Technologies {
  font-weight: bolder;
}

/****End of Technologies****/

/****Responsive****/

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }


}

/****End of Responsive****/